body {
    width: 100%;
    margin: 0%;
}

.header {
    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
}

.header > h1 {
    color: white;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header > p {
    color: white;
    width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-bottom: 2rem;
}

.header > a {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    color: white;
    background-color: #303030;
    font-size: 1.2rem;
    padding: 1.3rem 2rem;
    text-decoration: none;
}

.header > a:hover {
    color: black;
    background-color: white;
}

.webApplicationDevelopment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8E8E8	;
    padding: 2rem 0;
}

.webApplicationDevelopment > .descriptions {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.webApplicationDevelopment > .descriptions > p {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    line-height: 1.4rem;
    text-align: center;
}

.middlePage {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readMore {
    display: flex;
    justify-content: space-evenly;
    width: 78%;
    padding: 2rem;
}

.readMore > .imageAndDescription {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 28%;
}

.readMore > .imageAndDescription > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 0;
}

.readMore > .imageAndDescription > .description > p {
    width: 82%;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.digitalNeeds {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3rem 0;
}

.digitalNeeds > p {
    width: 75%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.blueGrey {
    display: flex;
    justify-content:left;
}

.blueOrGrey {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    color: white;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.blueOrGrey > p {
    width: 86%;
    text-align: center;
    line-height: 1.8rem;
}

.blue {
    background-color: #2690d4;
}

.grey {
    background-color: #303030;
    padding-bottom: 3.5rem;
}

.footer {
    display: flex;
    background: black;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.4rem 0;
    font-size: 1.1rem;
}

.footerText {
    color: white;
    text-align: center;
    width: 50%;
}

.footerText > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #2690d4;
}

.footerText > p > a:hover {
    text-decoration: none;
}